// Neon Synthwave Color Palette

$purple: #B939D9;
$lavender: #7CA4FF;
$blue: #0536B7;
$blueGreen: #00DDFF;
$jagBlue: #00C6FF;
$pink: #E763BD;
$yellow: #FACF31;
$orange: #F99B1D;
$green: #26F9BC;


.app {
    // display: flex;
    // justify-content: center;
    background-color: $lavender;


    .container {
        // width: 1200px;
        background-color: $purple;
        position: relative;









        .link {
            text-decoration: none;
            color: inherit
        }

        //    LOGIN PAGE & FOOTER

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lavender;


            h1 {
                font-size: 39px;
                color: $yellow;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: $purple;
                width: 240px;
                gap: 20px;
                border-radius: 5px;
                border: 2px solid $yellow;



                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    background-color: $yellow;
                }

                button {
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                    background-color: $pink;
                    color: $yellow;
                    cursor: pointer;
                }

                button:hover {
                    background-color: $yellow;
                    color: black;
                }

                button:focus {
                    background-color: #FFDEAD;
                    color: black;
                }

                p {
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 12px;
                    text-align: center;

                    .reg {
                        color: $yellow;
                    }
                }
            }
        }


        // NAVBAR

        .navbar {

            .container {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $lavender;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                height: 150px;
                border: 2px solid $yellow;
                border-bottom: 3px solid $yellow;








                .logo {
                    margin-right: 10%;

                    img {
                        width: 110px;
                        background-color: $purple;
                        border: 2px solid $yellow;
                        border-radius: 10px;
                        margin-left: 150%;

                    }


                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-right: 3%;
                    border: 2px solid $yellow;
                    border-radius: 5px;

                    h6 {
                        font-size: 24px;
                        font-weight: 300;
                        margin-left: 50px;
                        margin-right: 50px;
                    }


                }

                .user {
                    margin-left: -5%;
                    margin-right: 5%;
                    font-size: 24px;

                    span {
                        padding: 5%;
                        cursor: pointer;


                    }

                    .write {
                        border: 1px solid $yellow;
                        border-radius: 5px;
                        background-color: $purple;
                        margin-left: 50px;

                        &:hover {

                            background-color: $yellow;
                            color: #000;
                            border: 1px solid $purple;
                        }
                    }
                }
            }
        }

        // FOOTER 

        footer {
            background-color: $lavender;
            // margin-top: 150px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 12px;
            height: 60px;
            border: 2px solid $yellow;
            border-top: 3px solid $yellow;
            position: sticky;
            margin-top: 229px;
            width: 100%;

            // background-repeat: repeat-x;

            p {
                display: flex;
                flex: end;

            }


            img {
                width: 50px;
                background-color: $purple;
                border: none;
                border-radius: 10px;
                margin-left: 5%;
            }
        }

        // HOME

        .home {


            .posts {
                margin-top: 50px;
                margin-bottom: 40px;
                margin-right: 5%;
                margin-left: 5%;
                display: flex;
                flex-direction: column;
                gap: 50px;
                padding-bottom: 150px;






                .post {
                    display: flex;
                    flex-direction: row-reverse;
                    gap: 120px;
                    border: solid 3px $yellow;
                    border-radius: 5px;
                    background-color: $lavender;
                    color: rgba(41, 31, 61, 0.9);



                    // &:nth-child(2n+1){
                    //     flex-direction: row;
                    //     gap: 30%;

                    // }


                    .img {
                        flex: 2;
                        position: relative;
                        padding-top: 1%;



                        // &::after{
                        //     content: "";
                        //     width: 100%;
                        //     height: 120%;
                        //     background-color: #BC8F8F;
                        //     position: absolute;
                        //     top: 20px;
                        //     left: -20px;
                        //     z-index: -1;
                        // }

                        img {
                            width: 95%;
                            height: 95%;
                            max-height: 300px;
                            max-width: 500px;
                            object-fit: cover;
                            border-radius: 5px;
                            border: 2px solid $yellow;

                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 1%;

                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: $purple;
                            font-weight: 300;
                            color: white;
                            border: 1px solid;
                            border-radius: 5px;

                            &:hover {

                                background-color: #BC8F8F;
                                color: white;
                                border: 1px solid;

                            }
                        }
                    }
                }
            }
        }


        // Single Post 


        .single {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    margin: 2%;
                    border: 3px solid $yellow;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 16px;
                    margin-left: 2%;
                    border: solid 2px $yellow;
                    padding-left: 1%;
                    padding-top: 1%;
                    width: 40%;


                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                        font-size: 30px;
                    }

                    .posted {
                        font-size: 15px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5;


                    img {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                .post-body {
                    border: 2px solid $yellow;
                    margin-left: 2%;

                    h1 {
                        font-size: 42px;
                        color: rgba(41, 31, 61);
                        margin-left: 4%;
                    }

                    p {
                        text-align: justify;
                        line-height: 20px;
                        font-size: 20px;
                        padding-left: 5%;
                        color: rgba(41, 31, 61);
                    }

                }

            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 10px 20px;
                        border: none;
                        cursor: pointer;
                        background-color: $purple;
                        font-weight: 300;
                        color: white;
                        border: 1px solid;
                        border-radius: 5px;

                        &:hover {

                            background-color: #BC8F8F;
                            color: white;
                            border: 1px solid;

                        }
                    }
                }
            }
        }

        // WRITE

        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;
            padding-bottom: 450px;
            background-color: $purple;
            margin-left: 2%;
            margin-right: 2%;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;


                input {
                    padding: 10px;
                    border: 2px solid $yellow;
                    border-radius: 5px;
                    background-color: $lavender;
                    color: rgba(41, 31, 61, 0.9);
                    height: 50px;
                    font-size: 20px;
                }

                input::placeholder {
                    color: rgba(41, 31, 61, 0.9);
                }

                .editorContainer {
                    height: 550px;
                    overflow: scroll;
                    border: 2px solid $yellow;
                    background-color: $lavender;
                    border-radius: 5px;




                    .editor {
                        height: 100%;
                        border: none;
                        border: 1px solid $yellow;
                        border-radius: 5px;
                        color: rgba(41, 31, 61, 0.9);


                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;



                .item {

                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;
                    background-color: $lavender;
                    border: 2px solid $yellow;
                    border-radius: 5px;

                    h1 {
                        font-size: 30px;
                        color: rgba(41, 31, 61, 0.9);
                        margin-left: 37%;
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                        font-size: 18px;
                    }

                    input {
                        font-size: 15px;

                    }


                    input::-webkit-file-upload-button {
                        border: 1px solid $yellow;
                        border-radius: 5px;
                        background-color: $purple;
                        color: rgba(41, 31, 61, 0.9);
                        height: 40px;
                        cursor: pointer;

                        &:hover {
                            color: black;
                            background-color: $yellow;
                            border: 1px solid $purple;
                        }
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;



                        :first-child {
                            cursor: pointer;
                            color: rgba(41, 31, 61, 0.9);
                            background-color: $purple;
                            border: 1px solid $yellow;
                            border-radius: 5px;
                            // padding: 3px 5px;
                            height: 40px;
                            width: 40%;
                            font-size: 18px;

                            &:hover {
                                color: black;
                                background-color: $yellow;
                                border: 1px solid $purple;
                            }
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: rgba(41, 31, 61, 0.9);
                        padding-bottom: 5%;
                        font-size: 20px;
                        cursor: pointer;

                        &:hover {
                            color: $yellow;
                        }

                    }
                }
            }
        }
    }
}